.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-content {
    position: relative;
    background: white;
    width: 20rem;
    height: 24rem;
    padding: 20px;
    border-radius: 8px;
    z-index: 10;
}

.modal-content span {
    margin-left: 9px;
}


.modal-content .close {
    float: right;
    cursor: pointer;
}

.modal-content .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0px 17px;
}

.modal-content .content .el-input {
    margin-top: 20px;
}


.modal-content .button {
    display: flex;
    background-color: #005eff;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 55px;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow:
        0px 0px 3.4px rgba(0, 0, 0, 0.06),
        0px 0px 9.4px rgba(0, 0, 0, 0.086),
        0px 0px 22.6px rgba(0, 0, 0, 0.103),
        0px 0px 75px rgba(0, 0, 0, 0.17);
    ;
}

.modal-content .button:hover {
    background-color: #0054e6;
}

.modal-content .button:active {
    background-color: #fff;
}

.modal-content .button p {
    cursor: default;
    color: #fff;
    font-size: 17px;
    font-weight: 430;
}

.modal-content .content .el-checkbox {
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}


.modal-content .under-modal {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content .under-modal .under-text p {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    color: rgb(160, 160, 160);
}